body { background: #003; text-align: center; font-family: "trebuchet ms" }

canvas { left: 10%; position: absolute; top: 10%; margin-top: -50px; margin-left: -50px; }

.copy { position: absolute; bottom: 16px; right: 16px; color: #228 }
